$header-height: 55px;
$footer-height: 50px;
$default-margin: 15px;

// colors:
$primary-color: #DC0A2D;

/*
@media #{map-get($display-breakpoints, 'xl-only')} {
    $header-height: 150px;
}
*/